*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
background: #2c949e; 
background: -moz-linear-gradient(left, #2c949e 0%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2c949e 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2c949e 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c949e', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 */
 font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.2;
  width:100%;
  margin:0;
  padding:0% 0%;
}
 ul,li{
   list-style: none;
 }

a{
  text-decoration: none;
}

h1{
  font-family: 'Passion One', cursive;
}
